.bg {
  width: 100%;
}

.bg > img {
  width: 100%;
  margin: 0;
  display: block;
}

.sheet {
  /* z-index: 100;
  position: absolute;
  height: calc(100% + 150px);
  width: 100%;
  border-radius: 12px 12px 0px; */
  touch-action: none;
}

.sheet > div {
  height: fit-content;
  /* border-bottom: 1px solid #eee; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* padding: 20px; */
  /* text-transform: capitalize; */
}
